{
  "presets": [
    "react",
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy"
  ],
  "env": {
    "test": [
      ["resolver", { "resolveDirs": [ "./" ] } ]
    ],
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "transform-react-inline-elements",
        "transform-react-pure-class-to-function"
      ]
    }
  }
}
